<style>
  #shopify-section-{{ section.id }} {
      background-color: {{ block.settings.bg_color }};
      overflow: hidden;
  }
  #shopify-block-{{ block.id }} .db-toggle {
      padding: 0 16px;
      margin: 10px 0;
      position: relative;
      border: {{ block.settings.border_width }}px solid {{ block.settings.border_color }};
      border-radius: {{ block.settings.border_radius }}px;
  }
  #shopify-block-{{ block.id }} .db-toggle__title {
      color: {{ block.settings.title_color }};
  }
  #shopify-block-{{ block.id }} .db-toggle__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
  }
  #shopify-block-{{ block.id }} .db-toggle__content {
      color: {{ block.settings.content_color }};
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
      opacity: 0;
  }

  #shopify-block-{{ block.id }} .db-toggle__content * {
    color: {{ block.settings.content_color }};
  }

  #shopify-block-{{ block.id }} .db-toggle__content.active {
      max-height: 500px;
      opacity: 1;
  }
  #shopify-block-{{ block.id }} .db-toggle__icon {
      transition: transform 0.3s ease-in-out;
  }
  #shopify-block-{{ block.id }} .db-toggle__icon.active {
      transform: rotate(180deg);
  }
</style>

<div class="db-toggle">
  <div class="db-toggle__header">
    <{{ block.settings.title_tag }} class="db-toggle__title">
      {{- block.settings.title -}}
    </{{ block.settings.title_tag }}>
    {% if block.settings.icon == 'arrow' %}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="{{ block.settings.icon_color }}"
        height="{{ block.settings.icon_size }}"
        width="{{ block.settings.icon_size }}"
        class="db-toggle__icon"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
      </svg>
    {% elsif block.settings.icon == 'chevron' %}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="{{ block.settings.icon_color }}"
        height="{{ block.settings.icon_size }}"
        width="{{ block.settings.icon_size }}"
        class="db-toggle__icon"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
      </svg>
    {% elsif block.settings.icon == 'plus' %}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="{{ block.settings.icon_color }}"
        height="{{ block.settings.icon_size }}"
        width="{{ block.settings.icon_size }}"
        class="db-toggle__icon"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
    {% endif %}
  </div>
  <div class="db-toggle__content">
    {{- block.settings.content -}}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const db_toggle = document.querySelector('#shopify-block-{{ block.id }} .db-toggle');

    const db_header = db_toggle.querySelector('#shopify-block-{{ block.id }} .db-toggle__header');
    const db_content = db_toggle.querySelector('#shopify-block-{{ block.id }} .db-toggle__content');
    const db_icon = db_toggle.querySelector('#shopify-block-{{ block.id }} .db-toggle__icon');

    db_header.addEventListener('click', function () {
      console.log('clicked');
      // Toggle active class on the specific content
      db_content.classList.toggle('active');

      // Toggle icon
      db_icon.classList.toggle('active');
    });
  });
</script>

{% comment %} Schema {% endcomment %}
{% schema %}
{
  "name": "Toggle",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title Tag",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" },
        { "value": "p", "label": "P" },
        { "value": "span", "label": "Span" },
        { "value": "div", "label": "Div" }
      ],
      "default": "h3"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#000"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content Color",
      "default": "#000"
    },
    {
      "type": "select",
      "id": "icon",
      "label": "Icon",
      "options": [
        { "value": "arrow", "label": "Arrow" },
        { "value": "chevron", "label": "Chevron" },
        { "value": "plus", "label": "Plus" }
      ],
      "default": "arrow"
    },
    {
      "type": "number",
      "id": "icon_size",
      "label": "Icon Size",
      "default": 20
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": "Icon Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#c1c1c1"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border Color",
      "default": "#fff"
    },
    {
      "type": "number",
      "id": "border_radius",
      "label": "Border Radius",
      "default": 0
    },
    {
      "type": "number",
      "id": "border_width",
      "label": "Border Width",
      "default": 1
    }
  ]
}
{% endschema %}
